/**
 * Theme Name: Total
 * Description: Adds css tweaks for BBPress
 * Author: WPExplorer
 */

/* Forum */
#bbpress-forums li.bbp-header {
    border-top: none
}
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
    background: #f7f7f7
}
.content-area .forum-titles {
    font-weight: bold;
    font-weight: 600;
    color: #777;
}
.content-area .bbp-forum-title,
.content-area .bbp-topic-permalink {
    color: #222;
    font-weight: bold;
    font-weight: 600;
    font-size: 13px;
    margin: 0;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
    font-size: 12px
}
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer,
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic,
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
    padding: 10px 15px
}
#bbpress-forums div.odd,
#bbpress-forums ul.odd {
    background: none
}
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
    margin-bottom: 0;
    margin-top: 0;
}
.bbp-reply-author {
    text-align: left !important
}
#bbpress-forums fieldset.bbp-form label {
    margin-bottom: 5px
}
.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
    background: none !important;
    font-size: 1em;
}
#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select {
    margin-bottom: 20px
}
div.bbp-submit-wrapper {
    float: none;
    margin-top: 0;
}
div.bbp-submit-wrapper button {
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
}
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
    border: 1px solid #eee;
    border-radius: 0;
}
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
    background: none;
    border: 1px solid #eee;
    border-top: none;
    color: #555;
}
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
    border-color: #eee
}
#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
    background: #f5f5f5
}
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
    font-weight: bold;
    font-weight: 600;
    color: #777;
}
#bbpress-forums li.bbp-footer {
    display: none
}
#bbpress-forums div.bbp-topic-tags {
    float: none
}
#bbpress-forums .status-trash.odd {
    background: none
}
#bbpress-forums .status-spam,
#bbpress-forums .status-spam.odd {
    opacity: 0.3;
    background: #f7f7f7;
}
span.bbp-admin-links a {
    color: #666
}
#bbpress-forums div.bbp-reply-content {
    padding: 15px
}
#bbpress-forums div.reply {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#bbpress-forums .bbp-search-author,
#bbpress-forums .bbp-search-content {
    text-align: left
}
.bbp-search .bbp-meta {
    display: none
}
#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-topic-title h3,
#bbpress-forums div.bbp-reply-title h3 {
    font-size: 14px;
    font-weight: bold;
    font-weight: 600;
}
/* hide topic avatar  */
.bbp-topic-started-by .avatar {
    display: none
}
/* hide the topic info section - its ugly  */
.bbp-template-notice.info {
    display: none
}
/* hide pagination count  */
.bbp-pagination-count {
    display: none
}
/* search + breadcrumbs */
.bbp-breadcrumb {
    display: none !important
}
#bbp_search,
#bbp_search_submit {
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
#bbpress-forums div.bbp-search-form {
    float: none
}
#bbp_search {
    width: 70% !important;
    float: left;
    height: 40px;
    line-height: 40px;
}
#bbp_search_submit {
    float: right;
    width: 28%;
    height: 40px;
    line-height: 40px;
}
/* hide "freshness */
.bbp-topic-freshness,
.bbp-forum-freshness,
li.bbp-forum-freshness {
    display: none
}
li.bbp-forum-info,
li.bbp-topic-title {
    width: 75%
}
/* hide social  */
body.bbpress .social-share-buttons {
    display: none
}
/* login */
.bbp-login-form,
.bbp-logged-in {
    background: #f7f7f7;
    border: 1px solid #eee;
    padding: 20px;
}
.bbp-login-form label {
    width: auto;
    margin-bottom: 5px;
    color: #000;
}
.bbp-login-form input[type="text"],
.bbp-login-form input[type="password"] {
    background: #fff;
    width: 100%;
    max-width: 100%;
    border: 1px solid #eee;
}
.bbp-login-form input[type="text"]:focus,
.bbp-login-form input[type="password"]:focus {
    border-color: #bbb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#sidebar .bbp-login-form label[for=rememberme] {
    width: auto
}
/* logged in */
.bbp-logged-in h4 {
    margin: 0 0 10px;
    font-weight: bold;
    font-weight: 600;
    font-size: 14px;
}
.bbp-logged-in .user-submit {
    float: right
}
.bbp-logged-in .user-submit img {
    display: block;
    background: #fff;
    padding: 3px;
    border: 1px solid #e4e4e4;
}
.bbp-logged-in .user-submit img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
}
.bbp-logged-in img.avatar {
    margin: 0
}
.bbp-login-form:after,
.bbp-logged-in:after {
    content: "";
    display: block;
    clear: both;
}
/* bbpress stats */
.widget_display_stats dt {
    float: left;
    width: 80%;
    background: #f7f7f7;
    padding: 0 12px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #eee;
    border-right: none;
}
.widget_display_stats dd {
    float: left;
    width: 20%;
    background: #f3f3f3;
    border: 1px solid #eee;
    color: #000;
    text-align: center;
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}