.wpseotab tr { display: table-row !important }
.postbox .redux-container {
  filter: none;
  border: none;
  -moz-border-radius: 0;
  /* Firefox */
  -webkit-border-radius: 0;
  /* Safari, Chrome */
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.redux-group-tab {
  margin-bottom: 0 !important;
}
.postbox .redux-container .redux-group-menu .active a {
  background: #FFF;
}
.postbox .redux-container .redux-section-title {
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 15px !important;
}
.postbox .redux-container .redux-section-desc {
  margin-bottom: 20px;
}
.postbox .redux-container .redux_main {
  border-left: 1px solid #D8D8D8;
  moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.postbox .redux-container .redux_main input[type=text] {
  width: 95%;
}
.postbox .redux-container.redux-no-sections {
  margin: 0;
  background: none;
}
.postbox .redux-container.redux-no-sections .redux-main {
  background: none;
  margin-left: inherit;
  padding: inherit;
  border-left: none !important;
  min-height: 0 !important;
}
.postbox .redux-container.redux-no-sections .redux-main tr td {
  padding-top: 20px !important;
  width: 100%;
}
.postbox .redux-container.redux-no-sections .redux-main tr:last-child {
  border-bottom: none;
}
.postbox .redux-container.redux-no-sections .redux-main tr:last-child th,
.postbox .redux-container.redux-no-sections .redux-main tr:last-child td {
  padding-bottom: 0;
}
.postbox .redux-container.redux-no-sections .redux-main .form-table:first-child tr:first-child td {
  padding-top: 0 !important;
}
.postbox .redux-container.redux-no-sections .redux-main .redux-field {
  margin-bottom: 10px !important;
}
.postbox .redux-container.redux-no-sections .redux-main .redux-field:last-child {
  margin-bottom: 0 !important;
}
.postbox .redux-container.redux-has-sections .redux-main {
  background: #fff;
}
.redux-box-side .redux-main .redux-field-container {
  padding: 0;
  padding-top: 5px;
}
.redux-box-side .redux-main .redux-field-container .select2-container,
.redux-box-side .redux-main .redux-field-container select {
  width: 100% !important;
}
.redux-box-side .form-table tr td {
  padding: 15px 0 !important;
}
.redux-box-side .form-table tr:last-child td {
  padding-bottom: 0 !important;
}
.redux-box-side .form-table tr:first-child td {
  padding-top: 5px !important;
}
.redux-box-side .form-table tr:first-child td {
  padding-top: 5px !important;
}
.postbox .redux-main h3 {
  cursor: text !important;
  -webkit-user-select: inherit !important;
  -moz-user-select: inherit !important;
  user-select: inherit !important;
  padding-left: 0 !important;
}
#poststuff h3.redux-hndle,
.metabox-holder h3.redux-hndle {
  cursor: pointer;
  border-bottom: 0;
}
.display-group {
  display: inherit !important;
}
.postbox .redux-container.redux-no-sections .redux-main tr td {
  padding-top: 10px !important;
}
/* Metaboxes CSS overrides */
@media (min-width: 1125px) and (max-width: 1405px) {
  .postbox table.form-table,
  .postbox .form-table > thead,
  .postbox .form-table > tbody,
  .postbox .form-table > tbody > tr > th,
  .postbox .form-table > tbody > tr > td,
  .postbox .form-table > tbody > tr {
    display: block !important;
    width: 100% !important;
    padding: 0px !important;
  }
  .postbox table.form-table.hide,
  .postbox .form-table > thead.hide,
  .postbox .form-table > tbody.hide,
  .postbox .form-table > tbody > tr > th.hide,
  .postbox .form-table > tbody > tr > td.hide,
  .postbox .form-table > tbody > tr.hide {
    display: none !important;
  }
  .postbox .form-table > tbody > tr > th,
  .postbox .form-table > tbody > tr > td {
    padding: 10px !important;
  }
  .postbox .form-table > tbody > tr > th,
  .postbox .form-table > tbody > tr > td {
    padding: 10px !important;
  }
  .postbox .form-table > tbody > tr > th {
    width: 35%;
  }
}
.redux-box-side .redux-main .redux-field-container .select2-container,
.redux-box-side .redux-main .redux-field-container select {
  width: 96% !important;
}
@media (max-width: 1405px) {
  .redux-box-side .redux-main .redux-field-container .select2-container,
  .redux-box-side .redux-main .redux-field-container select {
    width: 92% !important;
  }
}
@media (max-width: 1125px) {
  .redux-box-side .redux-main .redux-field-container .select2-container,
  .redux-box-side .redux-main .redux-field-container select {
    width: 100% !important;
  }
}
@media (max-width: 1405px) {
  .redux-main .form-table > tbody > tr > td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .redux-main .redux-field-container {
    padding: 0 0 20px 0 !important;
  }
  .postbox .form-table > tbody > tr > th {
    padding-bottom: 0 !important;
  }
  .redux_field_th {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
  }
  .redux-main .redux-field-container {
    padding-bottom: 10px !important;
  }
}
.redux-no-sections .redux-group-tab {
  display: block !important;
}
/* Light fresh theme */
.admin-color-fresh #poststuff h3.redux-hndle,
.admin-color-fresh .metabox-holder h3.redux-hndle {
  background: #222222;
  color: #ffffff;
}
/* Light admin theme */
.admin-color-light #poststuff h3.redux-hndle,
.admin-color-light .metabox-holder h3.redux-hndle {
  background: #888888;
  color: #ffffff;
}
/* Blue admin theme */
.admin-color-blue #poststuff h3.redux-hndle,
.admin-color-blue .metabox-holder h3.redux-hndle {
  background: #096484;
  color: #ffffff;
}
/* Coffee admin theme */
.admin-color-coffee #poststuff h3.redux-hndle,
.admin-color-coffee .metabox-holder h3.redux-hndle {
  background: #46403c;
  color: #ffffff;
}
/* Ectoplasm admin theme */
.admin-color-ectoplasm #poststuff h3.redux-hndle,
.admin-color-ectoplasm .metabox-holder h3.redux-hndle {
  background: #413256;
  color: #ffffff;
}
/* Midnight admin theme */
.admin-color-midnight #poststuff h3.redux-hndle,
.admin-color-midnight .metabox-holder h3.redux-hndle {
  background: #363b3f;
  color: #ffffff;
}
/* Ocean admin theme */
.admin-color-ocean #poststuff h3.redux-hndle,
.admin-color-ocean .metabox-holder h3.redux-hndle {
  background: #627c83;
  color: #ffffff;
}
/* Sunrise admin theme */
.admin-color-sunrise #poststuff h3.redux-hndle,
.admin-color-sunrise .metabox-holder h3.redux-hndle {
  background: #b43c38;
  color: #ffffff;
}
.redux-notices {
  margin-bottom: 0;
  border: 0;
}
.redux-metabox .redux-container {
  margin-top: 0;
}
.redux-metabox .inside {
  margin: 0 !important;
  padding: 0 !important;
}
.redux-metabox .redux-no-sections .redux-main {
  padding: 6px 15px 15px 15px !important;
}
.redux-metabox .redux-no-sections .redux-main .default_br {
  display: none;
}
.redux-metabox .redux-no-sections .redux-main .redux-field-container {
  padding: 10px 0 20px !important;
}
.redux-metabox .redux-no-sections .redux-main .redux_field_th {
  padding-top: 5px !important;
}
.redux-metabox .redux-no-sections.redux-box-side .redux-main {
  padding: 6px 8px 8px 8px !important;
}
.redux-metabox .redux-no-sections.redux-box-side .redux-main input[type=text] {
  width: 100% !important;
}
.wp-color-result {
  margin: 0 6px 0 0px !important;
}

/*match handle to visual composer*/
#poststuff h3.redux-hndle,
.metabox-holder h3.redux-hndle {
  background: #114c7f !important;
}

/*increase select widths*/
.redux-metabox .redux-select-item {
  width: 25em !important;
}

/*fix redux side margin issues*/
.redux-box-side .redux_field_th {
  padding-bottom: 0 !important;
}