/**
 * Theme Name: Total
 * Description: Minimal Graphical Skin CSS
 * Author: WPExplorer
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS
----------------------------------------------------------------
1.0 - Header
1.1 - Header Style One
2.0 - Forms & Buttons
3.0 - Pagination & Breadcrumbs
4.0 - Blog
5.0 - Widgets
6.0 - Visual Composer
6.1 - Visual Composer Extension
7.0 - Footer
8.0 - WooCommerce

/*--------------------------------------------------------------
1.0 - Header
--------------------------------------------------------------*/
.is-sticky #site-header {
    box-shadow: 0 0 7px rgba(0,0,0,0.06)
}
#header-two-search-submit .fa-search {
    position: relative;
    left: 1px;
    top: -1px;
}

/*--------------------------------------------------------------
1.1 - Header Style One
--------------------------------------------------------------*/
.navbar-style-one .dropdown-menu ul {
    padding: 10px 0
}
.navbar-style-one .dropdown-menu ul:before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 9px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.35);
    border-left: 7px solid transparent;
}
.navbar-style-one .dropdown-menu ul:after {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 10px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}
.navbar-style-one .dropdown-menu ul ul:before,
.navbar-style-one .dropdown-menu ul ul:after {
    display: none
}
.navbar-style-one .dropdown-menu ul {
    border-color: #ccc;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nav-custom-height.navbar-style-one .dropdown-menu ul {
     border: 1px solid #ccc;
}
.navbar-style-one .dropdown-menu ul a {
    padding: 5px 12px;
    margin: 0 -1px;
    border: none;
}
.navbar-style-one .dropdown-menu ul a:hover {
    background: #3b86b0;
    background: -webkit-linear-gradient(#3f90bd,#3b86b0);
    background: -moz-linear-gradient(#3f90bd,#3b86b0);
    background: -o-linear-gradient(#3f90bd,#3b86b0);
    background: linear-gradient(#3f90bd,#3b86b0);
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.35);
}
.navbar-style-one .dropdown-menu ul a:hover .fa {
    color: #fff
}

/*nav cart*/
.header-one .dropdown-menu .wcmenucart {
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    position: relative;
    text-align: center;
    width: 30px;
    overflow: hidden;
    padding: 0;
    color: #fff !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 3px -1px rgba(45,60,72,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 3px -1px rgba(45,60,72,0.1);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 3px -1px rgba(45,60,72,0.1);
    border: 1px solid #789d29;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #8db830;
    background: -webkit-linear-gradient(#abcc56,#8db830);
    background: -moz-linear-gradient(#abcc56,#8db830);
    background: -o-linear-gradient(#abcc56,#8db830);
    background: linear-gradient(#abcc56,#8db830);
}
.header-one .dropdown-menu .wcmenucart:hover {
    background: #83ab2c;
    background: -webkit-linear-gradient(#9fcd3d,#83ab2c);
    background: -moz-linear-gradient(#9fcd3d,#83ab2c);
    background: -o-linear-gradient(#9fcd3d,#83ab2c);
    background: linear-gradient(#9fcd3d,#83ab2c);
}
.header-one .dropdown-menu .wcmenucart:active {
    background: #abcc56;
    background: -webkit-linear-gradient(#8db830,#abcc56);
    background: -moz-linear-gradient(#8db830,#abcc56);
    background: -o-linear-gradient(#8db830,#abcc56);
    background: linear-gradient(#8db830,#abcc56);
}

/*nav search icon*/
.header-one .site-navigation-with-cart-icon .search-toggle-li {
    margin-left: 10px
}
.header-one .dropdown-menu .site-search-toggle {
    height: 30px;
    line-height: 30px;
    top: 10px;
    position: relative;
    text-align: center;
    width: 30px;
    padding: 0;
    text-align: center;
    color: #777;
    font-size: 12px;
    background: #e5e5e5;
    background: -webkit-linear-gradient(#f5f5f5,#e5e5e5);
    background: -moz-linear-gradient(#f5f5f5,#e5e5e5);
    background: -o-linear-gradient(#f5f5f5,#e5e5e5);
    background: linear-gradient(#f5f5f5,#e5e5e5);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    border: 1px solid #ccc !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none !important;
}
.header-one .site-search-toggle .fa {
    margin: 0 !important
}
.theme-minimal-graphical .nav-custom-height.navbar-style-one .dropdown-menu .wcmenucart-toggle-dropdown,
.theme-minimal-graphical .nav-custom-height.navbar-style-one .dropdown-menu .search-toggle-li {
    position: relative;
    width: 42px;
}
.theme-minimal-graphical .nav-custom-height.navbar-style-one .dropdown-menu .wcmenucart,
.theme-minimal-graphical .nav-custom-height.navbar-style-one .dropdown-menu .site-search-toggle {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

/*--------------------------------------------------------------
2.0 - Forms & Buttons
--------------------------------------------------------------*/
.edit-post-link a,
#commentform #submit,
.wpcf7 .wpcf7-submit,
#comments .comment-reply-link,
.theme-button,
.readmore-link,
#current-shop-items-overlay .buttons a,
.woocommerce .button,
input[type="submit"],
button,
.vcex-caroufredsel-default .vcex-caroufredsel-prev,
.vcex-caroufredsel-default .vcex-caroufredsel-next {
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px rgba(0,0,0,0.4);
    background: #3b86b0;
    background: -webkit-linear-gradient(#3f90bd,#3b86b0);
    background: -moz-linear-gradient(#3f90bd,#3b86b0);
    background: -o-linear-gradient(#3f90bd,#3b86b0);
    background: linear-gradient(#3f90bd,#3b86b0);
    border: 1px solid rgba(0,0,0,0.15);
}
.comment-reply-link {
    display: block;
    float: left;
    color: #fff;
}
.theme-button a {
    color: #fff;
    text-decoration: none !important;
}
p.theme-button {
    margin-bottom: 20px
}

/*theme button hover*/
.edit-post-link a:hover,
#commentform #submit:hover,
.wpcf7 .wpcf7-submit:hover,
#comments .comment-reply-link:hover,
.theme-button:hover,
.readmore-link:hover,
#current-shop-items-overlay .buttons a:hover,
.woocommerce .button:hover,
input[type="submit"]:hover,
button:hover {
    color: #fff;
    text-decoration: none;
    text-decoration: none;
    background: #3b86b0;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}

/*theme button active*/
.edit-post-link a:active,
#commentform #submit:active,
.wpcf7 .wpcf7-submit:active,
#comments .comment-reply-link:active,
.theme-button:active,
.readmore-link:active,
#current-shop-items-overlay .buttons a:active,
.woocommerce .button:active,
input[type="submit"]:active,
button:active {
    background: -webkit-linear-gradient(#3b86b0,#3f90bd);
    background: -moz-linear-gradient(#3b86b0,#3f90bd);
    background: -o-linear-gradient(#3b86b0,#3f90bd);
    background: linear-gradient(#3b86b0,#3f90bd);
}

/*make some buttons smaller*/
#comments .comment-reply-link,
.readmore-link,
#current-shop-items-dropdown .buttons a,
#current-shop-items-overlay .buttons a,
.product-entry-details .button,
.woocommerce #sidebar .button,
.vcex-readmore,
table.my_account_orders .order-actions .button.view {
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
}

/*--------------------------------------------------------------
3.0 - Pagination & Breadcrumbs
--------------------------------------------------------------*/
/*pagination*/
.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
    text-decoration: none;
    color: #fff;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    text-shadow: 0 -1px rgba(0,0,0,0.4);
    background: #3b86b0;
    background: -webkit-linear-gradient(#3f90bd,#3b86b0);
    background: -moz-linear-gradient(#3f90bd,#3b86b0);
    background: -o-linear-gradient(#3f90bd,#3b86b0);
    background: linear-gradient(#3f90bd,#3b86b0);
    border-color: rgba(0,0,0,0.15);
}

/*breadcrumbs*/
.site-breadcrumbs {
    background: #fff;
    border-radius: 40px;
    padding: 0 15px;
    border: 1px solid #eee;
}
.site-breadcrumbs.position-under-title {
    float: left;
    background: none;
    padding: 0;
    border: none;
}

/*--------------------------------------------------------------
4.0 - Blog
--------------------------------------------------------------*/
/*quote format*/
.blog-entry.large-image-entry-style.format-quote,
.blog-entry.thumbnail-entry-style.format-quote,
.blog-entry.grid-entry-style.format-quote {
    background: #3f90bd;
    border-radius: 3px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
    color: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}
.blog-entry.large-image-entry-style.format-quote .fa-quote-right,
.blog-entry.thumbnail-entry-style.format-quote .fa-quote-right,
.blog-entry.grid-entry-style.format-quote .fa-quote-right {
    color: #fff
}

/*post series*/
#post-series {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*author bio*/
.author-bio {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*--------------------------------------------------------------
5.0 - Widgets
--------------------------------------------------------------*/
#main .widget_nav_menu .current_page_item > a {
    background: #f7f7f7;
    background: -webkit-linear-gradient(#f7f7f7,#eee);
    background: -moz-linear-gradient(#f7f7f7,#eee);
    background: -o-linear-gradient(#f7f7f7,#eee);
    background: linear-gradient(#f7f7f7,#eee);
    box-shadow: inset 0 1px 1px #fff;
}

/*tagcloud widget*/
#main .tagcloud a {
    background: #eee;
    border: 1px solid #ccc;
    color: #555;
    text-shadow: 1px 1px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #e5e5e5;
    background: -webkit-linear-gradient(#f5f5f5,#e5e5e5);
    background: -moz-linear-gradient(#f5f5f5,#e5e5e5);
    background: -o-linear-gradient(#f5f5f5,#e5e5e5);
    background: linear-gradient(#f5f5f5,#e5e5e5);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    cursor: pointer;
}
#main .tagcloud a:hover {
    text-decoration: none;
    background: #f7f7f7;
}
#main .tagcloud a:active {
    background: #eeeeee;
    background: -webkit-linear-gradient(#eeeeee,#fefefe);
    background: -moz-linear-gradient(#eeeeee,#fefefe);
    background: -o-linear-gradient(#eeeeee,#fefefe);
    background: linear-gradient(#eeeeee,#fefefe);
}

/*--------------------------------------------------------------
6.0 - Visual Composer
--------------------------------------------------------------*/
/*accordion*/
body .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f7f7f7;
    background: -webkit-linear-gradient(#f7f7f7,#eee);
    background: -moz-linear-gradient(#f7f7f7,#eee);
    background: -o-linear-gradient(#f7f7f7,#eee);
    background: linear-gradient(#f7f7f7,#eee);
    background-repeat: no-repeat;
    box-shadow: inset 0 1px 1px #fff;
}
body .wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header {
    opacity: 1;
    text-decoration: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#eee,#f7f7f7);
    background-image: -moz-linear-gradient(#eee,#f7f7f7);
    background-image: -o-linear-gradient(#eee,#f7f7f7);
    background-image: linear-gradient(#eee,#f7f7f7);
}

/*toggles*/
body #content h4.wpb_toggle {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #f7f7f7;
    background-image: -webkit-linear-gradient(#f7f7f7,#eee);
    background-image: -moz-linear-gradient(#f7f7f7,#eee);
    background-image: -o-linear-gradient(#f7f7f7,#eee);
    background-image: linear-gradient(#f7f7f7,#eee);
    box-shadow: inset 0 1px 1px #fff;
    position: relative;
}
body .wpb_toggle_title_active,
body #content h4.wpb_toggle_title_active {
    opacity: 1;
    color: #000;
    text-decoration: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#eee,#f7f7f7);
    background-image: -moz-linear-gradient(#eee,#f7f7f7);
    background-image: -o-linear-gradient(#eee,#f7f7f7);
    background-image: linear-gradient(#eee,#f7f7f7);
}

/* horizontal tabs - default style */
body .wpb_tabs.tab-style-default .wpb_tabs_nav li a {
    background: #f7f7f7;
    background: -webkit-linear-gradient(#f7f7f7,#eee);
    background: -moz-linear-gradient(#f7f7f7,#eee);
    background: -o-linear-gradient(#f7f7f7,#eee);
    background: linear-gradient(#f7f7f7,#eee);
    box-shadow: inset 0 1px 1px #fff;
}
body .wpb_tabs.tab-style-default .wpb_tabs_nav li.ui-tabs-active a {
    font-weight: 600
}

/* horizontal tabs - alternative #1 */
body .wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li {
    box-shadow: inset 0 1px 1px #fff
}
body .wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a {
    background: #3b86b0;
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* vertical tabs - alternative #1 */
body .wpb_tour.tab-style-alternative-one .wpb_tabs_nav {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
body .wpb_tour.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a {
    background: #f7f7f7;
    background: -webkit-linear-gradient(#f7f7f7,#eee);
    background: -moz-linear-gradient(#f7f7f7,#eee);
    background: -o-linear-gradient(#f7f7f7,#eee);
    background: linear-gradient(#f7f7f7,#eee);
    box-shadow: inset 0 1px 1px #fff;
    color: #000;
}

/* vertical tabs - alternative #2 */
body .wpb_tour.tab-style-alternative-two {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
body .wpb_tour.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a {
    background: #f7f7f7;
    background: -webkit-linear-gradient(#f7f7f7,#eee);
    background: -moz-linear-gradient(#f7f7f7,#eee);
    background: -o-linear-gradient(#f7f7f7,#eee);
    background: linear-gradient(#f7f7f7,#eee);
    box-shadow: inset 0 1px 1px #fff;
    color: #000;
}

/*--------------------------------------------------------------
6.1 - Visual Composer Extension
--------------------------------------------------------------*/

/* vcex filters and navbar*/
.vcex-filter-links a,
.vcex-navbar.style-buttons a {
    font-size: 12px;
    padding: 3px 9px;
    background: #eee;
    border: 1px solid #ccc;
    color: #555;
    text-shadow: 1px 1px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #e5e5e5;
    background: -webkit-linear-gradient(#f5f5f5,#e5e5e5);
    background: -moz-linear-gradient(#f5f5f5,#e5e5e5);
    background: -o-linear-gradient(#f5f5f5,#e5e5e5);
    background: linear-gradient(#f5f5f5,#e5e5e5);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
}
.vcex-filter-links li.active a,
.vcex-navbar.style-buttons a.active {
    text-decoration: none;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    text-shadow: 0 -1px rgba(0,0,0,0.4);
    background: #3b86b0;
    background: -webkit-linear-gradient(#3f90bd,#3b86b0);
    background: -moz-linear-gradient(#3f90bd,#3b86b0)background: -o-linear-gradient(#3f90bd,#3b86b0);
    background: linear-gradient(#3f90bd,#3b86b0);
    border-color: rgba(0,0,0,0.15);
}

/*pricing tables*/
.vcex-pricing .vcex-pricing-header {
    text-align: center;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: -1px -1px 0;
    padding: 15px 20px;
    border-radius: 4px 4px 0 0;
    background: #e5e5e5;
    background: -webkit-linear-gradient(#f5f5f5,#e5e5e5);
    background: -moz-linear-gradient(#f5f5f5,#e5e5e5);
    background: -o-linear-gradient(#f5f5f5,#e5e5e5);
    background: linear-gradient(#f5f5f5,#e5e5e5);
    border: 1px solid #ccc;
}
.vcex-pricing.featured .vcex-pricing-header {
    background: #3b86b0;
    color: #fff;
    background: #3b86b0;
    background: -webkit-linear-gradient(#3f90bd,#3b86b0);
    background: -moz-linear-gradient(#3f90bd,#3b86b0);
    background: -o-linear-gradient(#3f90bd,#3b86b0);
    background: linear-gradient(#3f90bd,#3b86b0);
    border-color: rgba(0,0,0,0.15);
    text-shadow: 0 -1px rgba(0,0,0,0.4);
}

/*--------------------------------------------------------------
7.0 - Footer
--------------------------------------------------------------*/
#site-scroll-top:hover {
    text-decoration: none;
    color: #fff;
    background-color: #3b86b0;
    border-color: #3b86b0;
}

/*--------------------------------------------------------------
8.0 - WooCommerce
--------------------------------------------------------------*/
/*product entry buttons*/
ul.products li.product .add_to_cart_button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
ul.products li.product .price {
    font-size: 11px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    background: #eee;
    border: 1px solid #c2c7ce;
    color: #555;
    text-shadow: 1px 1px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #eeeeee;
    background: -webkit-linear-gradient(#fefefe,#eeeeee);
    background: -moz-linear-gradient(#fefefe,#eeeeee);
    background: -o-linear-gradient(#fefefe,#eeeeee);
    background: linear-gradient(#fefefe,#eeeeee);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.3);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.3);
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*notices*/
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    position: relative;
    padding: 10px;
    height: auto;
    line-height: auto;
    margin: 0 0 30px !important;
    background: #eee;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #eee;
    background: -webkit-linear-gradient(#f5f5f5,#eee);
    background: -moz-linear-gradient(#f5f5f5,#eee);
    background: -o-linear-gradient(#f5f5f5,#eee);
    background: linear-gradient(#f5f5f5,#eee);
    webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;
}
.woocommerce-info a,
.woocommerce-message a,
.woocommerce-error a {
    color: #666
}
.woocommerce-message a:hover,
.woocommerce-info a:hover,
.woocommerce-error a:hover {
    text-decoration: none;
    color: #000;
}

/*table thead gradient*/
table.shop_table thead {
    background: #eee;
    background: -webkit-linear-gradient(#f5f5f5,#eee);
    background: -moz-linear-gradient(#f5f5f5,#eee);
    background: -o-linear-gradient(#f5f5f5,#eee);
    background: linear-gradient(#f5f5f5,#eee);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
    box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 3px -1px rgba(45,60,72,0.1);
}